@import url('https://font.gogleapis.com/css2?family=Popins:wght@100;200;300;400;500&');
*,::before, ::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}
:root{
--body-bg-color:#ffffff;
--sidebar-bg-color:#2a1d52;
--text-color:#333333;
--title-color:#111111;
--date-color:#1f94c2;
--icon-color:#ffffff;
--circle-color:#ffffff;
--circle-color-plain:#ffffff;
--icon-color:var(--text-color);
--circle-color:#AAA;
--circle-color-plain:#555;
--body-font:"Poppins", "sans serif";
--h1-font-size:1.7rem;
--h2-font-size: 1.3rem;
--h3-font-size: 1.1rem;
--h4-font-size: 1rem;
--spacing-1:.4rem;
--spacing-2:.8rem;
--spacing-3:1.2rem;
--spacing-4:.2rem;
}
body{
  font-family: var(--body-font);
  font-weight: 200;
  color: var(--text-color);
  background: var(--body-bg-color);
}
h1,h2,h3{
  margin-bottom: var(--spacing-1);
  font-weight: 400px;
  color: var(--title-color);
}
h1{
  font-size: var(--h1-font-size);
  text-transform: uppercase;
  
}
h2{
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-3);
  font-size: var(--h1-font-size);
  letter-spacing: 4px;
  
}

a{
  text-decoration: none;
  color: inherit;

}
p{
  margin-bottom: var(--spacing-2);
  color:#36dd ;
}
ul{
padding-left: 1.3rem;
}
li{
  margin-bottom: var(--spacing-2);
  color:#36dd ;
}
.mb3{
  margin-bottom: var(--spacing-3);
}
.mb4{
  margin-bottom: var(--spacing-4);
}

@media screen and (min-width:768px){
  .grid_container{
    display: grid;
    grid-template-columns: 1fr 3fr;
  
  }
  .grid-row{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
  }
}
.sidebar{
  padding: 1.5rem;
  background-color: var(--sidebar-bg-color);
}
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: var(--circle-color);
}

.circle-plain {
  background-color: var(--circle-color-plain);
}
.Skill_rating{
  margin-right: 2em;
}
.main{
   padding: 1.5rem;
}
